<html> 
    <head> 
    <title>Teste Coffee Bean</title> 
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <!-- BootStrap --> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 

    </head> 
    <body> 
        <div class="container"> 
            <form action="/coffeebean" method="POST" name="form-signin"> 
            <h1 class="h3 mb-3 font-weight-normal">Acesso Coffee Bean</h1> 
            <p class="email"> 
                <label for="emaillabel" class="sr-only">Email</label> 
                <input type="text" id="emailid" placeholder="e-mail" required="required" name="usuario[email]" class="form-control" /> 
            </p> 
            <p class="senha"> 
                <label for="senhalabel" class="sr-only">Senha</label> 
                <input type="password" id="senhaid" placeholder="senha" name="usuario[senha]" class="form-control"/> 
            </p> 
            <p class="submit"> 
                <input class="btn btn-lg btn-primary btn-block"type="submit" value="Enviar" /> 
            </p> 
            </form> 
        </div> 
    </body> 
</html> 